<footer class="footer">
    <div class="start-learning">
        <div class="footer-start">
            <div class="texts">
                <h2 class="section-title">Start Buying Now</h2>
                <!-- <h3 class="section-sub-heading">
                    <span>Only</span><strong>$95</strong>
                    <span>for a</span> <strong>40 hour</strong>
                    <span>complete course</span>
                </h3> -->
            </div>
            <a routerLink="/products/Products" class="button">
                <span class="label" >See All Products</span>
            </a>
            <!-- <img class="illustration" src="illustration-student.png" alt="illustration" width="120" height="94"> -->
        </div>
    </div>

    <div class="inner">
        <div class="column is-logo">
            <a href="#" class="main-logo">
                <div class="logo">
                    <img src="../../assets/images/footer/footer_logo.png" alt="stackfindover">
                </div>
                <div class="logo-info">
                    <div class="text">Organic Era</div>
                </div>
            </a>
        </div>
        <div class="column is-nav">
            <div class="column-title">Navigation</div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Join</a></li>
            </ul>
        </div>
        
        <div class="column is-nav">
            <div class="column-title">Contact</div>
            <ul>
                <li><a routerLink="/aboutUs">info@stackfindover.com</a></li>
                <li><a>@stackfindover</a></li>
                <li><a>Linkedin</a></li>
            </ul>
            <!-- <div class="column-title">Other</div>
                <ul>
                    <li><a href="#">Quiz</a></li>
                </ul> -->
            </div>
            
            <div class="column is-nav">
                <div class="column-title">Blog</div>
                <ul>
                    <li><a href="#">What is Angular</a></li>
                    <li><a href="#">What is JavaScript</a></li>
                    <li><a href="#">How to make money with a blog</a></li>
                </ul>
            </div>
    </div>
</footer>
<div class="copyright">
    <span >© 2021. All rights reserved.</span>
    <!-- <h1>Ravi@Copyright</h1> -->
</div>

<!-- <div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="#">Our Products</a></li>
                      <li><a href="#">Career</a></li>
                      <li><a href="#">Hosting</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Careers</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>ORGANIC ERA</h3>
                  <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
              </div>
              <div class="col item social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-snapchat"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
          </div>
          <p class="copyright">ORGANIC ERA © 2021</p>
      </div>
  </footer>
</div> -->