<footer class="footer">
    <div class="start-learning">
        <div class="footer-start">
            <div class="texts">
                <h2 class="section-title">Start Buying Now</h2>
            </div>
            <a routerLink="/products/Products" class="button">
                <span class="label" >See All Products</span>
            </a>
        </div>
    </div>

    <div class="inner">
        <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 text-center p-2 main-logo-outer-div">
                    <a href="#" class="main-logo">
                        <div class="logo">
                            <img src="../../assets/images/footer/footer_logo.png" alt="logo">
                        </div>
                        <div class="logo-info">
                            <div class="text">Organic Era</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 p-2 text-center Navigation">
                    <div class="column-title">Navigation</div>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Join</a></li>
                    </ul>
                </div>
                
                <div class="col-md-3 col-sm-6 col-xs-12 text-center Contact p-2">
                    <div class="column-title">Contact</div>
                    <ul>
                        <li><a routerLink="/aboutUs">info@stackfindover.com</a></li>
                        <li><a>@stackfindover</a></li>
                        <li><a>Linkedin</a></li>
                    </ul>
                </div>
                    
                <div class="col-md-3 col-sm-6 col-xs-12 text-center Blog p-2">
                        <div class="column-title">Blog</div>
                        <ul>
                            <li><a href="#">Latest Updates</a></li>
                            <li><a href="#">Organic Content</a></li>
                            <li><a href="#">Learn To Grow Organic</a></li>
                        </ul>
                </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <span >© 2021. All rights reserved.</span>
    <!-- <h1>Ravi@Copyright</h1> -->
</div>
