<section>
  <!-- parallex -->
  <div class="parallex"></div>
  <!-- End of parallex -->

  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 ">
          <div class="first-main-news">
            <div class="first-main-news-img">
              <img src="../../assets/images/pexels-pixabay-357743.jpg">
            </div>
            <div class="main-news-text">
              <h1 class="news-heading pt-4">
                Heading
              </h1>
              <div class="text">
                <span><i class="fa fa-user"></i> Organic Era </span>&nbsp; &nbsp; &nbsp;
                <span><i class="fa fa-clock-o"></i> 20 Jul,2020 </span>
              </div>
              <div class="full-highlight">
                <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</a>
              </div>
              <div class="read-more">
                <a href="#">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  Read More
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row small-blogs-row">
        <!-- Small Blogs  -->
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6 mt-4">
              <div class="first-main-news">
                <div class="small-blogs-news-img">
                  <img src="../../assets/images/pexels-pixabay-357743.jpg">
                </div>
                <div class="main-news-text">
                  <h1 class="news-heading pt-4">
                    Heading
                  </h1>
                  <div class="text">
                    <span><i class="fa fa-user"></i> Organic Era </span>&nbsp; &nbsp; &nbsp;
                    <span><i class="fa fa-clock-o"></i> 20 Jul,2020 </span>
                  </div>
                  <div class="full-highlight">
                    <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</a>
                  </div>
                  <div class="read-more">
                    <a href="#">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      Read More
                  </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-4">
              <div class="first-main-news">
                <div class="small-blogs-news-img">
                  <img src="../../assets/images/pexels-pixabay-357743.jpg">
                </div>
                <div class="main-news-text">
                  <h1 class="news-heading pt-4">
                    Heading
                  </h1>
                  <div class="text">
                    <span><i class="fa fa-user"></i> Organic Era </span>&nbsp; &nbsp; &nbsp;
                    <span><i class="fa fa-clock-o"></i> 20 Jul,2020 </span>
                  </div>
                  <div class="full-highlight">
                    <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</a>
                  </div>
                  <div class="read-more">
                    <a href="#">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      Read More
                  </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-4">
              <div class="first-main-news">
                <div class="small-blogs-news-img">
                  <img src="../../assets/images/pexels-pixabay-357743.jpg">
                </div>
                <div class="main-news-text">
                  <h1 class="news-heading pt-4">
                    Heading
                  </h1>
                  <div class="text">
                    <span><i class="fa fa-user"></i> Organic Era </span>&nbsp; &nbsp; &nbsp;
                    <span><i class="fa fa-clock-o"></i> 20 Jul,2020 </span>
                  </div>
                  <div class="full-highlight">
                    <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</a>
                  </div>
                  <div class="read-more">
                    <a href="#">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      Read More
                  </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-4">
              <div class="first-main-news">
                <div class="small-blogs-news-img">
                  <img src="../../assets/images/pexels-pixabay-357743.jpg">
                </div>
                <div class="main-news-text">
                  <h1 class="news-heading pt-4">
                    Heading
                  </h1>
                  <div class="text">
                    <span><i class="fa fa-user"></i> Organic Era </span>&nbsp; &nbsp; &nbsp;
                    <span><i class="fa fa-clock-o"></i> 20 Jul,2020 </span>
                  </div>
                  <div class="full-highlight">
                    <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</a>
                  </div>
                  <div class="read-more">
                    <a href="#">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      Read More
                  </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-4">
              <div class="first-main-news">
                <div class="small-blogs-news-img">
                  <img src="../../assets/images/pexels-pixabay-357743.jpg">
                </div>
                <div class="main-news-text">
                  <h1 class="news-heading pt-4">
                    Heading
                  </h1>
                  <div class="text">
                    <span><i class="fa fa-user"></i> Organic Era </span>&nbsp; &nbsp; &nbsp;
                    <span><i class="fa fa-clock-o"></i> 20 Jul,2020 </span>
                  </div>
                  <div class="full-highlight">
                    <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</a>
                  </div>
                  <div class="read-more">
                    <a href="#">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      Read More
                  </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-4">
              <div class="first-main-news">
                <div class="small-blogs-news-img">
                  <img src="../../assets/images/pexels-pixabay-357743.jpg">
                </div>
                <div class="main-news-text">
                  <h1 class="news-heading pt-4">
                    Heading
                  </h1>
                  <div class="text">
                    <span><i class="fa fa-user"></i> Organic Era </span>&nbsp; &nbsp; &nbsp;
                    <span><i class="fa fa-clock-o"></i> 20 Jul,2020 </span>
                  </div>
                  <div class="full-highlight">
                    <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</a>
                  </div>
                  <div class="read-more">
                    <a href="#">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      Read More
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Small Blogs  -->

        <div class="col-md-3 shadow3 ">
          <!-- Social media -->

          <hr>

          <div class="section-title text-center">
              <span class="badge badge-info">Get Started</span>
              <h2>Social Link</h2>
          </div>
          <div class="social-icons">
            <a href="https://facebook.com/" target="_blank" class="slider-nav-item"><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkdin.com" target="_blank" class="slider-nav-item"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.github.com" target="_blank" class="slider-nav-item"><i class="fab fa-github"></i></a>  
            <a href="https://www.github.com" target="_blank" class="slider-nav-item"><i class="fab fa-google-plus"></i></a>
            <a href="https://www.github.com" target="_blank" class="slider-nav-item"><i class="fab fa-pinterest"></i></a>  
            <a href="https://www.github.com" target="_blank" class="slider-nav-item"><i class="fab fa-snapchat"></i></a>    
          </div>
          <!-- End of Social media -->
          <hr>
          <!-- Recently Post -->
          <div class="section-title text-center  mt-5">
            <h2>Recently Post</h2>
          </div>
          <div class="recently-posts">
            <div class="r-posts">
              <div class="post-img p-0">
                <img src="../../assets/images/blogs/b.png" >
              </div>  
              <a class="p-2" >
                Lorem ipsum dolor sit. Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit
              </a>
            </div>   
            <div class="r-posts">
              <div class="post-img p-0">
                <img src="../../assets/images/blogs/l.png" >
              </div>  
              <a class="p-2" >
                Lorem ipsum dolor sit. Lorem ipsum dolor sit t Lorem ipsum dolor sit Lorem ipsum dolor sit
              </a>
            </div>
            <div class="r-posts">
              <div class="post-img p-0">
                <img src="../../assets/images/blogs/o.png" >
              </div>  
              <a class="p-2" >
                Lorem ipsum dolor sit. Lorem ipsum dolor sit t Lorem ipsum dolor sit Lorem ipsum dolor sit
              </a>
            </div>
            <div class="r-posts">
              <div class="post-img p-0">
                <img src="../../assets/images/blogs/g.png" >
              </div>  
              <a class="p-2" >
                Lorem ipsum dolor sit. Lorem ipsum dolor sit t Lorem ipsum dolor sit Lorem ipsum dolor sit
              </a>
            </div>
          </div>
          <!-- End of Recently Post -->
        </div>
      </div>
    </div>
  </div>
</section>








<!-- <div>
  <h2>I am a very long title and I need to be shortened</h2>
</div> -->