    <div class="card card0">
        <div class="row d-flex">
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <div class="card1 pb-5">
                    <img src="../../assets/images/login/login.png" class="image">
                </div>
            </div>
            <div class="col-lg-6 loginform">
                <form #loginform="ngForm" (ngSubmit)="login(loginform)">
                    <div class="card2 card-0 px-4 py-5">
                        <div class="row mb-4 px-3 d-flex justify-content-center">
                            <h2 class="mb-0 mr-4 mt-2 mb-4">Sign in with</h2>
                            <div class="facebook text-center mr-3">
                                <div class="fa fa-facebook"></div>
                            </div>
                            <div class="twitter text-center mr-3">
                                <div class="fa fa-twitter"></div>
                            </div>
                            <div class="linkedin text-center mr-3">
                                <div class="fa fa-linkedin"></div>
                            </div>
                        </div>
                        <div class="row px-3 mb-4">
                            <div class="line"></div> 
                            <small class="or text-center">Or</small>
                            <div class="line"></div>
                        </div>
                        <div class="row px-3"> 
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Email Address</h6>
                            </label> 
                                <input class="mb-4" type="text" placeholder="Enter a valid email address" ngModel name="email" #email="ngModel"> 
                        </div>
                        <div class="row px-3"> 
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Password</h6>
                            </label> 
                                <input type="password" placeholder="Enter password" ngModel name="password" #password="ngModel"> 
                        </div>
                        <div class="row px-3 mb-4">
                            <div class="custom-control custom-checkbox custom-control-inline"> 
                                <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">Remember me</label> 
                            </div> 
                                <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                        </div>
                        <div class="row mb-3 px-3 d-flex justify-content-center"> 
                            <button [disabled]="!loginform.valid" type="submit" class="btn btn-blue text-center">Login</button> 
                        </div>
                        <div class="row mb-4 px-3 d-flex justify-content-center"> 
                            <small class="font-weight-bold">Don't have an account? <a class="text-danger register">Register</a></small> 
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 hideregisterform">
                <form #registerform="ngForm" (ngSubmit)="register(registerform)">
                    <div class="card2 card-0 px-4 py-5">
                        <div class="row mb-4 px-3">
                            <h2 class="mb-0 mr-4 mt-2">Sign Up</h2>
                        </div>
                        <div class="row px-3"> 
                            <label class="mb-1"><h6 class="mb-0 text-sm">Name</h6></label> 
                            <input class="mb-4" type="text" name="name" placeholder="Enter a Full Name" ngModel #name="ngModel"> 
                        </div>
                        <div class="row px-3"> 
                            <label class="mb-1"><h6 class="mb-0 text-sm">Email Address</h6></label> 
                            <input class="mb-4" type="text" name="email" placeholder="Enter a valid email address" ngModel #email="ngModel"> 
                        </div>
                        <div class="row px-3"> 
                            <label class="mb-1"><h6 class="mb-0 text-sm">Mobile Number</h6></label> 
                            <input class="mb-4" type="text" name="mobile_number" placeholder="Phone Number" ngModel #mobile_number="ngModel"> 
                        </div>
                        <div class="row px-3"> 
                            <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label>     
                            <input class="mb-4" type="password" name="password" placeholder="Enter password" ngModel #password="ngModel"> 
                        </div>
                        <div class="row px-3"> 
                            <label class="mb-1"><h6 class="mb-0 text-sm">Confirm Password</h6></label> 
                            <input class="mb-4" type="password" name="confirm_password" placeholder="Confirm Password" ngModel #confirm_password="ngModel"> 
                        </div>
                        <div class="row px-3 mb-4">
                            <div class="custom-control custom-checkbox custom-control-inline"> 
                                <input id="chk2" type="checkbox" name="chk" class="custom-control-input"> 
                                <label for="chk2" class="custom-control-label text-sm">Remember me</label> 
                            </div> 
                        </div>
                        <div class="row mb-3 px-3 d-flex justify-content-center"> 
                            <button type="submit" class="btn btn-blue text-center">Sign Up</button> 
                        </div>
                        <div class="row mb-4 px-3 d-flex justify-content-center"> 
                            <small class="font-weight-bold">Already have an account? <a class="text-danger login">Login</a></small> 
                        </div>
                    </div>
                </form>    
            </div>
        </div>
    </div>

    
