<section class="hero-anime">	

	<div class="navigation-wrap bg-light start-header start-style">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-light">
					
						<div id="ui" class="border">
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
							<div class="text"><span>Shopping</span><span>Era</span> </div>
						  </div>	
						
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto py-4 py-md-0">
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
									<a class="nav-link" routerLink="/" routerLinkActive="active" >Home</a>
								</li>
								<!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="#">Portfolio</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="#">Agency</a>
								</li> -->
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Products</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Fruits</a>
										<a class="dropdown-item" href="#">Vegetables</a>
										<a class="dropdown-item" href="#">Medicines</a>
										<a class="dropdown-item" href="#">Body Care</a>
										<a class="dropdown-item" href="#">Immunity</a>
									</div>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" routerLink="/" routerLinkActive="active" >Blogs</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" routerLink="/aboutUs" routerLinkActive="active" >About Us</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" routerLink="/login" routerLinkActive="active" >Login/Sign Up</a>
								</li>
							</ul>
						</div>
					</nav>		
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="section full-height"> -->
		<!-- <div class="absolute-center">
			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
				<h1><span>B</span><span>o</span><span>o</span><span>t</span><span>s</span><span>t</span><span>r</span><span>a</span><span>p</span> <span>4</span><br>
				<span>m</span><span>e</span><span>n</span><span>u</span></h1>
				<p>scroll for nav animation</p>	
						</div>	
					</div>		
				</div>		
			</div>
			<div class="section mt-5">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div id="switch">
								<div id="circle"></div>
							</div>
						</div>	
					</div>		
				</div>			
			</div>
		</div> -->
	<!-- </div> -->
	<!-- <div class="my-5 py-5">
	</div> -->
</section>	
  
