<section class="first-section">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 left-images">
      <img src="../../assets/images/aboutus/firstimg.jpg" class="photo p1" height="300" width="420">
      <img src="../../assets/images/aboutus/secondimg.jpg" class="photo p2" height="300" width="420">
      <img src="../../assets/images/aboutus/thirdimg.jpg" class="photo p3" height="300" width="420">
    </div>
    <div class="col-md-6">
      <div class="col-md-12 d-flex justify-content-center text-Ask-Queries-outer">
        <div class='example'>Ask Queries</div>
      </div>
      <div class="col-md-12 formdiv">
        <form action="" class="log-in" autocomplete="off">
          <div class="row">
            <div class="floating-label col-md-12">
              <input placeholder="Name" type="text" name="name" id="name" autocomplete="off">
              <label for="name">Name</label>
              <div class="icon">
                <svg enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 100 100" xml:space="preserve"
                  xmlns="http://www.w3.org/2000/svg">
                  <g transform="translate(0 -952.36)">
                    <path
                      d="m17.5 977c-1.3 0-2.4 1.1-2.4 2.4v45.9c0 1.3 1.1 2.4 2.4 2.4h64.9c1.3 0 2.4-1.1 2.4-2.4v-45.9c0-1.3-1.1-2.4-2.4-2.4h-64.9zm2.4 4.8h60.2v1.2l-30.1 22-30.1-22v-1.2zm0 7l28.7 21c0.8 0.6 2 0.6 2.8 0l28.7-21v34.1h-60.2v-34.1z" />
                  </g>
                  <rect class="st0" width="100" height="100" />
                </svg>

              </div>
            </div>
            <div class="floating-label col-md-12">
              <input placeholder="Email" type="email" name="email" id="email" autocomplete="off">
              <label for="email">Email</label>
              <div class="icon">
                <svg enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 100 100" xml:space="preserve"
                  xmlns="http://www.w3.org/2000/svg">
                  <g transform="translate(0 -952.36)">
                    <path
                      d="m17.5 977c-1.3 0-2.4 1.1-2.4 2.4v45.9c0 1.3 1.1 2.4 2.4 2.4h64.9c1.3 0 2.4-1.1 2.4-2.4v-45.9c0-1.3-1.1-2.4-2.4-2.4h-64.9zm2.4 4.8h60.2v1.2l-30.1 22-30.1-22v-1.2zm0 7l28.7 21c0.8 0.6 2 0.6 2.8 0l28.7-21v34.1h-60.2v-34.1z" />
                  </g>
                  <rect class="st0" width="100" height="100" />
                </svg>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="floating-label col-md-12">
              <input placeholder="Mobile Number" type="number" name="number" id="number" autocomplete="off">
              <label for="number">Phone Number</label>
              <div class="icon">
                <svg enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 100 100" xml:space="preserve"
                  xmlns="http://www.w3.org/2000/svg">
                  <g transform="translate(0 -952.36)">
                    <path
                      d="m17.5 977c-1.3 0-2.4 1.1-2.4 2.4v45.9c0 1.3 1.1 2.4 2.4 2.4h64.9c1.3 0 2.4-1.1 2.4-2.4v-45.9c0-1.3-1.1-2.4-2.4-2.4h-64.9zm2.4 4.8h60.2v1.2l-30.1 22-30.1-22v-1.2zm0 7l28.7 21c0.8 0.6 2 0.6 2.8 0l28.7-21v34.1h-60.2v-34.1z" />
                  </g>
                  <rect class="st0" width="100" height="100" />
                </svg>

              </div>
            </div>
            <div class="floating-label col-md-12">
              <input placeholder="Write Your Query..." type="Query" name="Query" id="Query" autocomplete="off">
              <label for="Query">Query</label>
              <div class="icon">

                <svg enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24" xml:space="preserve"
                  xmlns="http://www.w3.org/2000/svg">
                  <rect class="st0" width="24" height="24" />
                  <path class="st1" d="M19,21H5V9h14V21z M6,20h12V10H6V20z" />
                  <path class="st1"
                    d="M16.5,10h-1V7c0-1.9-1.6-3.5-3.5-3.5S8.5,5.1,8.5,7v3h-1V7c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5V10z" />
                  <path class="st1"
                    d="m12 16.5c-0.8 0-1.5-0.7-1.5-1.5s0.7-1.5 1.5-1.5 1.5 0.7 1.5 1.5-0.7 1.5-1.5 1.5zm0-2c-0.3 0-0.5 0.2-0.5 0.5s0.2 0.5 0.5 0.5 0.5-0.2 0.5-0.5-0.2-0.5-0.5-0.5z" />
                </svg>
              </div>

            </div>
          </div>
          <button type="submit" onClick="return false;">Log in</button>
        </form>
      </div>
    </div>
  </div>


  <div class="row second-section">
    <div class="col-md-1"></div>
    <div class="col-md-10 map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1413.028809924908!2d75.72460258310784!3d29.15545194896103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391233286a41f157%3A0x5e22dab785a074bf!2sRampura%20Mohalla%2C%20Mehta%20Nagar%2C%20Hisar%2C%20Haryana%20125001!5e0!3m2!1sen!2sin!4v1622457640319!5m2!1sen!2sin"
        style="width: 100%; height: 100%;" allowfullscreen="" loading="lazy">
      </iframe>
    </div>
    <div class="col-md-1"></div>
  </div>
</section>

<section class="social-media-section">
  <div class="row">
    <div class="container">
      <div class="div">
        <a href="https://twitter.com" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
      <div class="div">
        <a href="https://twitter.com" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <div class="div">
        <a href="https://github.com" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </div>
      <div class="div">
        <a href="https://twitter.com" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="div">
        <a href="https://twitter.com" target="_blank">
          <i class="fa fa-youtube"></i>
        </a>
      </div>
      <div class="div">
        <a class="phone" href="https://twitter.com" target="_blank">
          <i class="fa fa-phone"></i><h5 class="telephone-number">+91 9034458569</h5>
        </a>
      </div>
    </div>
  </div>
</section>