<section class="navbar-height">
  <h2>Navbar</h2>
</section>

<section>
  <div class="row m-5">
    <div class="col-md-12">
      <div class="Cards">
        <div class="CardInner">
        <label>Search for your favourite products</label>
        <div class="container">
          <div class="Icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#657789" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>                                             
          </div>
          <div class="InputContainer">
            <input placeholder="It just can't be pizza..."/>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
</section>

<section class="outerbar">
    <div class="row p-5">
        <div class="col-md-3 sidebar">
          <h1>SideBar</h1>
          <div class="checkboxex">
            <div class="form-check">
              <label>
                <input type="checkbox" name="check"> <span class="label-text">Fruits</span>
              </label>
            </div>
            <div class="form-check">
              <label>
                <input type="checkbox" name="check"> <span class="label-text">Vegetables</span>
              </label>
            </div>
            <div class="form-check">
              <label>
                <input type="checkbox" name="check"> <span class="label-text">Cosmetics</span>
              </label>
            </div>
            <div class="form-check">
              <label>
                <input type="checkbox" name="check"> <span class="label-text">Immunity</span>
              </label>
            </div>
            <div class="form-check">
              <label>
                <input type="checkbox" name="check"> <span class="label-text">Body Care</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-9 productsbar m-0 d-flex flex-wrap ">
          <div class="p-3">
                        <div class="wrapper">
              <div class="card text-center">
                  <div class="image"> <img src="../../../assets/images/products/Items/apple.png" width="300"> </div>
                  <div class="about-product text-center">
                      <h3>Apple</h3>
                      <h4>$99.<small>99</small></h4> <button class="btn btn-success buy-now">Buy Now</button>
                  </div>
              </div>
          </div>
          </div>
          <div class="p-3">
            <div class="wrapper">
              <div class="card text-center">
                  <div class="image"> <img src="../../../assets/images/products/Items/banana.png" width="300"> </div>
                  <div class="about-product text-center">
                      <h3>Banana</h3>
                      <h4>$99.<small>99</small></h4> <button class="btn btn-success buy-now">Buy Now</button>
                  </div>
              </div>
          </div>
          </div>
          <div class="p-3">
            <div class="wrapper">
              <div class="card text-center">
                  <div class="image"> <img src="../../../assets/images/products/Items/wheat.png" width="300"> </div>
                  <div class="about-product text-center">
                      <h3>Wheat</h3>
                      <h4>$99.<small>99</small></h4> <button class="btn btn-success buy-now">Buy Now</button>
                  </div>
              </div>
            </div>
          </div>
          <div class="p-3">
            <div class="wrapper">
              <div class="card text-center">
                  <div class="image"> <img src="../../../assets/images/products/Items/rice.png" width="300"> </div>
                  <div class="about-product ">
                      <h3>Rice</h3>
                      <h4>$99.<small>99</small></h4> <button class="btn btn-success buy-now">Buy Now</button>
                  </div>
              </div>
            </div>
          </div>
          <div class="p-3">
            <div class="wrapper">
              <div class="card text-center">
                  <div class="image"> <img src="../../../assets/images/products/Items/apple.png" width="300"> </div>
                  <div class="about-product text-center">
                      <h3>Shampoo</h3>
                      <h4>$99.<small>99</small></h4> <button class="btn btn-success buy-now">Buy Now</button>
                  </div>
              </div>
            </div>
          </div>
          <div class="p-3">
            <div class="wrapper">
              <div class="card text-center">
                  <div class="image"> <img src="../../../assets/images/products/Items/banana.png" width="300"> </div>
                  <div class="about-product text-center">
                      <h3>Potato</h3>
                      <h4>$99.<small>99</small></h4> <button class="btn btn-success buy-now">Buy Now</button>
                  </div>
              </div>
            </div>
          </div>
          <div class="p-3">
            <div class="wrapper">
              <div class="card text-center">
                  <div class="image"> <img src="../../../assets/images/products/Items/wheat.png" width="300"> </div>
                  <div class="about-product text-center">
                      <h3>Cactus</h3>
                      <h4>$99.<small>99</small></h4> <button class="btn btn-success buy-now">Buy Now</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    
  </section>
