.navbar-height
{
    height: 74px !important;
    background-color: white;
}

/* Search Bar */
.Cards {
    padding: 1px;
    border-radius: var(--border-radius);
    background: linear-gradient(-67deg, rgba(200, 216, 231, 0.7), rgba(255, 255, 255, 0.8));
    overflow: hidden;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6), 2px 2px 12px #c8d8e7;
    /* width: 380px; */
  }
  
  .CardInner {
    padding: 16px 16px;
    background-color: #e2e9f4;
    border-radius: var(--border-radius);
  }
  
  .container {
    display: flex;
  }
  
  .Icon {
    min-width: 46px;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    margin-right: 12px;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6), 2px 2px 12px #c8d8e7;
  }
  .Icon svg {
    transform: translate(-1px, -1px);
  }
  
  label {
    font-family: "Hind", sans-serif;
    display: block;
    color: #3c4b66;
    margin-bottom: 12px;
    background: linear-gradient(45deg, #6b7b8f, #3c4b66);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .InputContainer {
    width: 100%;
  }
  
  input {
    background-color: #e3edf7;
    padding: 16px 32px;
    border: none;
    display: block;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    color: #a9b8c9;
    -webkit-appearance: none;
    transition: all 240ms ease-out;
    width: 100%;
  }
  input::placeholder {
    color: #6d7f8f;
  }
  input:focus {
    outline: none;
    color: #6d7f8f;
    background-color: #eff5fa;
  }
  
  .InputContainer {
    --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
    --bottom-shadow: inset -2px -2px 4px rgba(255,255,255, .7);
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
  }
  .InputContainer:before, .InputContainer:after {
    left: 0;
    top: 0;
    display: block;
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .InputContainer:before {
    box-shadow: var(--bottom-shadow);
  }
  .InputContainer:after {
    box-shadow: var(--top-shadow);
  }


/* filter page*/
.sidebar
{
  padding-top: 20px;
  text-align: center;
  background-color: #e2e9f4;
  background: linear-gradient(-67deg, rgba(200, 216, 231, 0.7), rgba(255, 255, 255, 0.8));
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6), 2px 2px 12px #c8d8e7;
}

.checkboxex
{
  text-align: left;
  padding: 5px 0px 0px 30px;
}

label{
	position: relative;
	cursor: pointer;
	color: #666;
	font-size: 18px;
}

input[type="checkbox"], input[type="radio"]{
	position: absolute;
	right: 9000px;
}

/*Check box*/
input[type="checkbox"] + .label-text:before{
	content: "\f096";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="checkbox"]:checked + .label-text:before{
	content: "\f14a";
	color: #2980b9;
	animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled + .label-text{
	color: #aaa;
}

input[type="checkbox"]:disabled + .label-text:before{
	content: "\f0c8";
	color: #ccc;
}


@media (max-width: 1000px) 
{
  .checkboxex
  {
    padding: 5px 0px 0px 5px;
  } 
}


/* single product detail */


.wrapper {
  width: 100%;
  padding: 16px;
}

.card {
  height: 300px;
  width: 320px;
  background-color: #369A7E;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center !important
}

.card::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: -50%;
  background-color: #FFF;
  transform: skewY(345deg);
  transition: 1s ease-in
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg)
}

.card .image {
  padding: 10px;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.card .image img {
  max-width: 50%;
  transition: 1s ease-in
}

.card:hover .image img {
  width: 100%
}

.about-product {
  position: absolute;
  color: #fff;
  bottom: -50px !important;
  transition: 1s ease-in
}

.card:hover .about-product {
  bottom: 20px !important
}

.buy-now {
  color: #369A7E;
  background-color: #fff !important;
  border-color: #fff !important;
  width: 160px;
  margin: 20px 0px 0px 10px;
}

.buy-now:focus {
  box-shadow: none
}

.buy-now:hover {
  color: #fff;
  background-color: #339999 !important;
  border-color: #339999 !important
}

  

@media (max-width: 1060px)
{
  .productsbar
  {
     justify-content: center;
     align-items: center;
  }

  .card {
    height: 250px;
    width: 270px;
  }
}

@media (max-width: 930px)
{
  .card {
    height: 210px;
    width: 230px;
  }
}

@media (max-width: 770px)
{
  .wrapper 
  {
    width: 100%;
    padding: 2px;
  }
}

