@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

*
{
  font-family: 'Mate SC', serif;
}


.navbar-height
{
    height: 74px !important;
    background-color: white;
}



/* Search Bar */
.search_text
{
  text-align: center;
}

.search_text h1
{
  font-family: 'Mate SC', serif;
}

.mat-input-element 
{
  font-size: 25px;
  box-sizing: border-box;
  outline: none;
  color: rgba(0,0,0,.87);
  /* border-bottom: 4px solid #705df2 !important; */
  font: inherit;
  background: transparent;
  border: none;
  outline: none;
  padding: 15px;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
  box-sizing: content-box;
}


.mat-form-field
{
  width: 100%;
}

.mat-form-field-appearance-legacy .mat-form-field-underline 
{
  background-color: #705df2 !important;
  height: 4px !important;
}



/* sidebar */
.sidebar
{
  padding-top: 20px;
  text-align: center;
  border: 5px solid rgba(200, 216, 231, 0.7);
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6), 2px 2px 12px #c8d8e7;
}
.sidebar h1
{
  font-family: 'Mate SC', serif;
  line-height: 80px;
  background: linear-gradient(-67deg, rgba(200, 216, 231, 1.0), rgba(255, 255, 255, 0));
}

.checkboxex_position
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


/* sidebar filter */
ul.ks-cboxtags 
{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px;
}

ul.ks-cboxtags li
{
  display: inline;
}

ul.ks-cboxtags li label
{
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid #705df2;
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
  padding: 8px 12px;
  cursor: pointer;
}


ul.ks-cboxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before 
{
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label 
{
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6), 2px 2px 12px #c8d8e7;
  background-color: #705df2;
  color: #fff;
  transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] 
{
  display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] 
{
  position: absolute;
  opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:focus + label 
{
  border: 2px solid #e9a1ff;
}





/* single product detail */
.wrapper {
  width: 100%;
  padding: 16px;
}

.card {
  height: 300px;
  width: 320px;
  background-color: #369A7E;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center !important
}

.card::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: -50%;
  background-color: #FFF;
  transform: skewY(345deg);
  transition: 1s ease-in
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg)
}

.card .image {
  padding: 10px;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.card .image img {
  max-width: 50%;
  transition: 1s ease-in
}

.card:hover .image img {
  width: 100%
}

.about-product {
  position: absolute;
  color: #fff;
  bottom: -50px !important;
  transition: 1s ease-in
}

.card:hover .about-product {
  bottom: 20px !important
}

.buy-now {
  color: #369A7E;
  background-color: #fff !important;
  border-color: #fff !important;
  width: 160px;
  margin: 20px 0px 0px 10px;
}

.buy-now:focus {
  box-shadow: none
}

.buy-now:hover {
  color: #fff;
  background-color: #339999 !important;
  border-color: #339999 !important
}

  

@media (max-width: 1060px)
{
  .productsbar
  {
     justify-content: center;
     align-items: center;
  }

  .card {
    height: 250px;
    width: 270px;
  }
}

@media (max-width: 930px)
{
  .card {
    height: 210px;
    width: 230px;
  }
}

@media (max-width: 770px)
{
  .wrapper 
  {
    width: 100%;
    padding: 2px;
  }
}


