<section class="navbar-height">
  <h2>Don't Try To Read This Line. If You Want to live alive.</h2>
</section>


<!-- search bar -->
<section>
  <div class="row m-5">
    <div class="col-md-12">
      <div class="Cards">
        <div class="CardInner">
        <label>Search for your favourite products</label>
        <div class="container">
          <div class="Icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#657789" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>                                             
          </div>
          <div class="InputContainer">
            <input placeholder="Deal with Your Health...." />
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
</section>

<section class="outerbar">
  <div class="row p-5">

      <!-- sidebar -->
        <div class="col-md-3 sidebar">
          <h1>SideBar</h1>
          <div class="checkboxex">
            <div class="form-check" *ngFor="let category of ProductsCategoryInstance">
              <label>
                <input type="checkbox" name="check"> <span class="label-text">{{ category.item_type }}</span>
              </label>
            </div>
             <div class="form-check">
              <label>
                <input type="checkbox" name="check"> <span class="label-text">Vegetables</span>
              </label>
            </div>
            <!--<div class="form-check">
              <label>
                <input type="checkbox" name="check"> <span class="label-text">Cosmetics</span>
              </label>
            </div>
            <div class="form-check">
              <label>
                <input type="checkbox" name="check"> <span class="label-text">Immunity</span>
              </label>
            </div>
            <div class="form-check">
              <label>
                <input type="checkbox" name="check"> <span class="label-text">Body Care</span>
              </label>
            </div> -->
          </div>
        </div>

        <!-- products List -->
        <div class="col-md-9 productsbar m-0 d-flex flex-wrap">

          <div *ngFor="let product of ProductsList | paginate : { id: 'listing_pagination', itemsPerPage: 10, currentPage: page, totalItems: totalRecords }">
            <div class="wrapper p-3">
              <div class="card text-center">
                  <div class="image"> <img src= {{product.p_image}}  width="300"> </div>
                  <div class="about-product text-center">
                      <h3> {{product.p_name}} </h3>
                      <h4>Rs. {{product.p_price}} </h4> <button class="btn btn-success buy-now">Add To Cart</button>
                  </div>
              </div>
            </div>
          </div>

          
          <div class="text-center w-100">
            <pagination-controls class="pagination-controls" id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls> 
        </div>
        </div>
        
  </div>
    
    
</section>
