<section class="navbar-height border">
  <h2>Don't Try To Read This Line. If You Want to be alive.</h2>
</section>



<!-- search bar -->
<section>
  <div class="row m-5">
    <div class="col-md-12">
      <div class="search_text">
        <h1>Search Your Health</h1>
      </div>      
      <mat-form-field >
        <mat-label>
          Search 
        </mat-label>
        <input matInput type="text" [matAutocomplete]="auto" placeholder="Search Product ...." (keyup)="onChangeSearch($event.target.value)"   >
        <mat-autocomplete #auto = "matAutocomplete">
          <mat-option  (click)="selected(item.p_id)" *ngFor="let item of searched_products" [value]="item.p_name">
            {{ item.p_name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</section>



<section class="outerbar">
  <div class="row p-5">
        
    <!-- sidebar -->
    <div class="col-md-3 sidebar">
      <h1>Categories</h1>
      <div class="checkboxex_position">
        <ul class="ks-cboxtags" *ngFor="let category of ProductsCategory">
          <li><input type="checkbox" [id]="category.item_typeID"  name="check" class="productscategory" (change)="checkBoxvalue($event.target.checked , category.item_typeID)" [value]="category.item_typeID"><label [for]="category.item_typeID">{{ category.item_type }}</label></li>
        </ul>
      </div>    
    </div>

        <!-- products List -->
    <div class="col-md-9 productsbar m-0">
      <!-- <div *ngFor="let product of ProductsList | paginate : { id: 'listing_pagination', itemsPerPage: 10, currentPage: page, totalItems: totalRecords }">
        <div class="wrapper p-3">
          <div class="card text-center">
            <div class="image"> <img src= {{product.p_image}}  width="300"> </div>
            <div class="about-product text-center">
                <h3 routerLink=""> {{product.p_name}} </h3>
                <h4>Rs. {{product.p_price}} </h4> <button class="btn btn-success buy-now">Add To Cart</button>
            </div>
          </div>
        </div>
      </div> -->  
      <div *ngFor="let product of ProductsList | paginate : { id: 'listing_pagination', itemsPerPage: 10, currentPage: page, totalItems: totalRecords }">
        <div class="wrapper">
          <!-- <div class="container"> -->
            <div class="top border">
              <img src= {{product.p_image}}>
            </div>
            <div class="bottom border">
              <div class="left border">
                <div class="details">
                  <span><a class="btn btn-primary" (click)="AddToCart(product.p_id)">Add To Cart</a></span>
                  <!-- <p>£250</p> -->
                </div>
                <!-- <div class="buy"><i class="fa fa-shopping-cart fa-spin"></i></div> -->
              </div>
              <!-- <div class="right"> -->
                <!-- <div class="done"><i class="material-icons">done</i></div> -->
                <!-- <div class="details"> -->
                  <!-- <h1>Chair</h1> -->
                  <!-- <p>Added to your cart</p> -->
                <!-- </div> -->
                <!-- <div class="remove"><i class="material-icons">clear</i></div> -->
              <!-- </div> -->
            </div> 
          <!-- </div> -->
          <div class="inside d-flex justify-content-center align-items-center">
            <div class="icon"><i class="">info</i></div>
            <div class="contents w-100">
              <table>
                <tr>
                  <th>category</th>
                  <th>{{product.p_category}}</th>
                </tr>
                <tr>
                  <td>Name</td>
                  <td>{{product.p_name}} </td>
                </tr>
                <tr>
                  <td>Price</td>
                  <td>Rs.{{product.p_price | currency: 'INR'}}/pcs</td>
                </tr>
                <tr>
                  <td class="instock border" colspan="2">In stock</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

          
      <div class="text-center w-100">
        <pagination-controls class="pagination-controls" id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls> 
      </div>
    </div>
        
  </div>
    
    
</section>
