<!-- <div class="alert alert-info">Your Cart is Empty. </div> -->

<div class="container shopping-cart">
  <h1>Shopping Cart</h1>

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

  <div *ngFor="let item of GetAllCartItems">
    <div class="product">
      <div class="product-image">
        <img src= {{item.p_image}}>
      </div>
      <div class="product-details">
        <div class="product-title">{{item.p_name}}</div>
        <p class="product-description">{{item.p_description}}</p>
      </div>
      <div class="product-price">{{item.p_price}}</div>
      <div class="product-quantity">
        <input type="number" (change)="onQuantityChange($event,item.p_price)" value="1" min="1">
      </div>
      <div class="product-removal">
        <button class="remove-product">
          Remove
        </button>
      </div>
      <div class="product-line-price">{{item.p_price}}</div>
    </div>
  </div>  


  <div class="row totals">
    <div class="col-md-5 copy-block">    
      <p>Items will be saved in your cart for 30 days. To save items longer, add them to your <a href="#">Wish List</a>.</p>
      <p class="customer-care">
        Call us M-F 8:00 am to 6:00 pm EST<br />
        (877)-555-5555 or <a href="#">contact us</a>. <br />     
      </p>
    </div>
    <div class="col-md-4"></div> 
    <div class="col-md-3">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">{{ totalAmount }}</div>
    </div>
    <div class="totals-item">
      <label>Tax (5%)</label>
      <div class="totals-value" id="cart-tax">{{ taxRate }}</div>
    </div>
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">{{ shippingRate }}</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">{{ GrandTotal }}</div>
    </div>
  </div>
  </div>
      
      <button class="checkout">Checkout</button>

</div>


