.container 
{
    max-width: 1200px;
    margin-top: 15%;
    padding: 15px;
    /* display: flex; */
  }

@media (max-width: 658px)
{
    .container 
    {
        margin-top: 20%;
    }

}   

@media (max-width: 476px)
{
    .container 
    {
        margin-top: 25%;
    }

}  

@media (max-width: 396px)
{
    .container 
    {
        margin-top: 35%;
    }

}  



  /* Product Description */
.product-description 
{
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}
.product-description .category_name 
{
    font-size: 13px;
    color: #358ED7;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
}
    
.product-description .product_name 
{
    margin-top: 10px;
    font-weight: 300;
    font-size: calc(20px + (40-20) * ((100vw - 320px)/1080));
    color: #43484D;
    letter-spacing: 4px;
}

  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }


  /* Product Color */
.product-color 
{
  margin-bottom: 30px;
}

  /* Product Price */
.product-price_cart 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
 
@media (max-width: 576px)  
{
    .quantitiy
    {
        text-align: left !important;
    }
    
    .product-price_cart span 
    {
      margin: 5% 5% 5% 0%;
    }
    
    .product-price_cart .quantitiy input
    {
      margin: 5% 5% 5% 0%;
    }
     
    .cart-btn 
    {
      margin: 5% 5% 5% 2%;
    }

    .total_amount span 
    {
      margin-top: 5%;
    }
  
}
   
  .product-price_cart span , .total_amount span 
  {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }
  
  .product-price_cart .quantitiy 
  {
      text-align: center;
  }
  .product-price_cart .quantitiy input
  {
    width: 150px;
    margin: 2px 0px 0px 10px;
  }
   
  .cart-btn 
  {
    margin-right: 2%;
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  }
  .cart-btn:hover {
    background-color: #64af3d;
  }


  /* total_amount */
  .total_amount span 
  {
      margin-top: 5%;
  }




/* /* product_image carasouel */
  .carousel 
  {
    position: relative;
  }
  
  .carousel-item img 
  {
    object-fit: cover;
  }
  
  #carousel-thumbs 
  {
    background: #f0f0f0;
    padding: 0 50px;
  }
  
  #carousel-thumbs img:hover 
  {
    opacity: 100%;
  }
  
  #carousel-thumbs img 
  {
    opacity: 80%;
    border: 3px solid transparent;
    cursor: pointer;
  }
  
  #carousel-thumbs .selected img 
  {
    opacity: 100%;
  }
  
  .carousel-control-prev,
  .carousel-control-next 
  {
    width: 50px;
  }
/*   
  .carousel-fullscreen-icon 
  {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 1.75rem;
    height: 1.75rem;
    z-index: 4;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(255,255,255,.80)'  viewBox='0 0 16 16'%3E%3Cpath d='M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z' /%3E%3C/svg%3E");
  } */
  
  /* .carousel-fullscreen-icon:hover 
  {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)' viewBox='0 0 16 16'%3E%3Cpath d='M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z' /%3E%3C/svg%3E");
  } */
  
  /* .pause .carousel-pause-icon 
  {
    position: absolute;
    top: 3.75rem;
    left: 1rem;
    width: 1.75rem;
    height: 1.75rem;
    z-index: 4;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(255,255,255,.80)'  viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z' /%3E%3C/svg%3E");
  }
  .pause .carousel-pause-icon:hover 
  {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)'  viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z' /%3E%3C/svg%3E");
  }
  
  .play .carousel-pause-icon 
  {
    position: absolute;
    top: 3.75rem;
    left: 1rem;
    width: 1.75rem;
    height: 1.75rem;
    z-index: 4;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(255,255,255,.80)'  viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z' /%3E%3C/svg%3E");
  }
  
  .play .carousel-pause-icon:hover 
  {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)'  viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z' /%3E%3C/svg%3E");
  } */
  
  #carousel-thumbs .carousel-control-prev-icon 
  {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(0,0,0,.60)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }
  
  #carousel-thumbs .carousel-control-next-icon 
  {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%60000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }
  
  .modal-content 
  {
    border-radius: 0;
    background-color: transparent;
    border: none;
  }
  #lightbox-container-image img 
  {
    width: auto;
    max-height: 520px;
  }
  


  /* multi-item slider */
  .multi-product-carousel
  {
    margin-top: 13%;
  }


  .h2 {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 60px;
  }
  .h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    border-radius: 1px;
    background: #7ac400;
    left: 0;
    right: 0;
    bottom: -20px;
  }
  #myCarousel {
    margin: 50px auto;
    padding: 0 70px;
  }
  #myCarousel .item {
    color: #747d89;
    min-height: 325px;
    text-align: center;
    overflow: hidden;
  }
  #myCarousel .thumb-wrapper {
    padding: 25px 15px;
    background: #fff;
    border-radius: 6px;
    text-align: center;
    position: relative;  
    box-shadow: 10px 2px 5px rgba(0,0,0,0.2);
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
  }
  #myCarousel .thumb-wrapper:hover
  {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  }
  #myCarousel .item .img-box {
    height: 120px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
  }
  #myCarousel .item img {	
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  #myCarousel .item h4 {
    font-size: 18px;
  }
  #myCarousel .item h4, #myCarousel .item p, #myCarousel .item ul {
    margin-bottom: 5px;
  }
  #myCarousel .thumb-content .btn {
    color: #7ac400;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #7ac400;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
  }
  #myCarousel .thumb-content .btn:hover, #myCarousel .thumb-content .btn:focus {
    color: #fff;
    background: #7ac400;
    box-shadow: none;
  }
  #myCarousel .thumb-content .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
  }
  #myCarousel .item-price {
    font-size: 13px;
    padding: 2px 0;
  }
  #myCarousel .item-price strike {
    opacity: 0.7;
    margin-right: 5px;
  }
  #myCarousel .carousel-control-prev, #myCarousel .carousel-control-next {
    height: 44px;
    width: 40px;
    background: #7ac400;	
    margin: auto 0;
    border-radius: 4px;
    opacity: 0.8;
  }
  #myCarousel .carousel-control-prev:hover, #myCarousel .carousel-control-next:hover {
    background: #78bf00;
    opacity: 1;
  }
  #myCarousel .carousel-control-prev i, #myCarousel .carousel-control-next i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
    text-shadow: none;
    font-weight: bold;
  }
  #myCarousel .carousel-control-prev i {
    margin-left: -2px;
  }
  #myCarousel .carousel-control-next i {
    margin-right: -4px;
  }		
  #myCarousel .carousel-indicators {
    bottom: -50px;
  }
  #myCarousel .carousel-indicators li, #myCarousel .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border: none;
  }
  #myCarousel .carousel-indicators li {	
    background: rgba(0, 0, 0, 0.2);
  }
  #myCarousel .carousel-indicators li.active {	
    background: rgba(0, 0, 0, 0.6);
  }
  .carousel .wish-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    cursor: pointer;
    font-size: 16px;
    color: #abb0b8;
  }
  .carousel .wish-icon .fa-heart {
    color: #ff6161;
  }
  .star-rating li {
    padding: 0;
  }
  .star-rating i {
    font-size: 14px;
    color: #ffc000;
  }
  

