<header>
  <div class="overlay">
    <h1>Simply The Best</h1>
    <h3>Reasons for Choosing US</h3>
    <p>We're lying ourselves into believing things are untrue, like organic food will solve all our problems, or
      vitamins will make us healthy, or we don't need to vaccinate our children.</p>
  </div>
</header>


<section class="secondsection">
  <div class="row">
    <div data-aos="fade-right" data-aos-mirror="true" data-aos-offset="200" data-aos-delay="100" data-aos-duration="10000" data-aos-easing="ease-in">
      <figure class="snip1104 red">
        <img src="../../assets/images/home/organic_medicines.png" alt="sample33" />
        <figcaption>
          <h2> <span> Medicines</span></h2>
        </figcaption>
        <a href="#"></a>
      </figure>
    </div>
    <div data-aos="fade-right" data-aos-mirror="true" data-aos-offset="200" data-aos-delay="300" data-aos-duration="15000" data-aos-easing="ease-in">
      <figure class="snip1104 red">
        <img src="../../assets/images/home/organic_fruits.png" alt="sample33" />
        <figcaption>
          <h2> <span> Fruits</span></h2>
        </figcaption>
        <a href="#"></a>
      </figure>
    </div>
    <div data-aos="fade-left" data-aos-mirror="true" data-aos-offset="200" data-aos-delay="500" data-aos-duration="20000" data-aos-easing="ease-in">
      <figure class="snip1104"><img src="../../assets/images/home/organic_bodycare.png" alt="sample35" />
        <figcaption>
          <h2><span> Body Care</span></h2>
        </figcaption>
        <a href="#"></a>
      </figure>
    </div>
    <div data-aos="fade-left" data-aos-mirror="true" data-aos-offset="200" data-aos-delay="700" data-aos-duration="25000" data-aos-easing="ease-in">
      <figure class="snip1104"><img src="../../assets/images/home/organic_vegetables.png" alt="sample35" />
        <figcaption>
          <h2> <span> Vegetable</span></h2>
        </figcaption>
        <a href="#"></a>
      </figure>
    </div>
  </div>
</section>

<section class="third-section">
  <div class="container my-4 Medicines">
    <p class="font-weight-bold">Organic Medicines</p>
    <hr class="my-4">
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">

          <div class="row">
            <div class="col-md-3">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.First slide-->
        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-3">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->

      </div>
      <!--/.Slides-->

      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->


    </div>
    <!--/.Carousel Wrapper-->


  </div>
</section>

<section class="fourth-section" style="">
  <div>
      <img src="../../assets/images/login/login.png">
  </div>
</section>

<section class="fifth-section container-fluid">
  <div class="container my-4">
    <p class="font-weight-bold">Organic Foods</p>
    <hr class="my-4">
    <!--Carousel Wrapper-->
    <div id="multi-item-example2" class="carousel slide carousel-multi-item" data-ride="carousel">
      <!--Slides-->
      <div class="carousel-inner" role="listbox" >
        <!--First slide-->
        <div class="carousel-item active">

          <div class="row">
            <div class="col-md-3" >
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">second</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item" >

          <div class="row">
            <div class="col-md-3">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->

      </div>
      <!--/.Slides-->

      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example2" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example2" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

    </div>
    <!--/.Carousel Wrapper-->


  </div>
</section>

<section class="parallex-section-second">
</section>