<header>
  <div class="overlay">
    <h1>Simply The Best</h1>
    <h3>Reasons for Choosing US</h3>
    <p>We're lying ourselves into believing things are untrue, like organic food will solve all our problems, or vitamins will make us healthy, or we don't need to vaccinate our children.</p>
  </div>
</header>


<section class="d-flex justify-content-between secondsection">
  <figure class="snip1104 red">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample33.jpg" alt="sample33" />
    <figcaption>
      <h2>  <span> Medicines</span></h2>
    </figcaption>
    <a href="#"></a>
  </figure>
  <figure class="snip1104 red">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample33.jpg" alt="sample33" />
    <figcaption>
      <h2> <span> Fruits</span></h2>
    </figcaption>
    <a href="#"></a>
  </figure>
  <figure class="snip1104"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample35.jpg" alt="sample35" />
    <figcaption>
      <h2> <span> Vegetable</span></h2>
    </figcaption>
    <a href="#"></a>
  </figure>
  <figure class="snip1104"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample35.jpg" alt="sample35" />
    <figcaption>
      <h2><span> Body Care</span></h2>
    </figcaption>
    <a href="#"></a>
  </figure>
</section>

<section class="parallex-section-one">
</section>

<section class="third-section">  
  <div class="lookbook-gallery">
    <div class="lookbook-grid" role="region">
      
      <figure class="model">
        <img src="../../assets/images/home/ssallpulses.png" />
        <figcaption class="model--caption">
          <h3 class="model-hed"><a href="#">allpulses</a></h3>
          <!-- <p>Prof. McTouchdown is 5'5", wearing a size S <a href="#">Fridays Away Blaseball Jersey</a>.<p> -->
        </figcaption>
      </figure>
      
      <figure class="model">
        <img src="../../assets/images/home/ssgrain.png" />
        <figcaption class="model--caption">
          <h3 class="model-hed"><a href="#">grains</a></h3>
          <!-- <p>Scores is wearing a size X <a href="#">item</a> in colorway Y<p> -->
        </figcaption>
      </figure>
      
      <figure class="model">
        <img src="../../assets/images/home/sssgrainsack.png" />
        <figcaption class="model--caption">
          <h3 class="model-hed"><a href="#">grain sack</a></h3>
          <!-- <p>Scores is 5'5", wearing a size S <a href="#">Fridays Away Blaseball Jersey</a>.<p> -->
        </figcaption>
      </figure>
      
      <figure class="model">
        <img src="../../assets/images/home/sslemon.png" />
        <figcaption class="model--caption">
          <h3 class="model-hed"><a href="#">Lemon</a></h3>
          <!-- <p>Scores is wearing a size X <a href="#">item</a> in colorway Y<p> -->
        </figcaption>
      </figure>
      
      <figure class="model">
        <img src="../../assets/images/home/sspineapple.png" />
        <figcaption class="model--caption">
          <h3 class="model-hed"><a href="#">pineapple</a></h3>
          <!-- <p>Scores is wearing a size X <a href="#">item</a> in colorway Y<p> -->
        </figcaption>
      </figure>
    </div>  
  </div>
</section>

<section class="fourth-section">
  <div class="container my-4 Medicines">

    <p class="font-weight-bold">Organic Medicines
    </p>

    <hr class="my-4">

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Indicators-->
      <!-- <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol> -->
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m1.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m2.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m3.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m1.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m2.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m3.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->

      </div>
      <!--/.Slides-->
      
      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->


    </div>
    <!--/.Carousel Wrapper-->


  </div>
</section>

<section class="fifth-section container-fluid">
  <div class="container my-4">

    <p class="font-weight-bold">Organic Foods
    </p>

    <hr class="my-4">

    <!--Carousel Wrapper-->
    <div id="multi-item-example2" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Indicators-->
      <!-- <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol> -->
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m1.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m2.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m3.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m1.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m2.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/home/m3.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->

      </div>
      <!--/.Slides-->
      
      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example2" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example2" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

    </div>
    <!--/.Carousel Wrapper-->


  </div>
</section>

<section class="parallex-section-second">
</section>

