<header>
  <div class="overlay">
    <!-- <h1>Simply The Best</h1> -->
    <svg viewBox="0 0 960 100">
      <symbol id="s-text">
        <text text-anchor="middle" x="50%" y="80%">Simply The Best</text>
      </symbol>
      <g class="g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
      </g>
    </svg>
    <h3>Reasons for Choosing US</h3>
    <p><sup><img class="punctuation1" src="../../assets/images/home/punctuations.png"></sup> We're lying ourselves into
      believing things are untrue, like organic food will solve all our problems, or
      vitamins will make us healthy, or we don't need to vaccinate our children.<sub><img class="punctuation2"
          src="../../assets/images/home/punctuations.png"></sub></p>
  </div>
</header>

<section class="secondsection ">
  <div data-aos="fade-up" data-aos-mirror="true" data-aos-offset="200" data-aos-delay="100" data-aos-duration="10000"
    data-aos-easing="ease-in">
    <figure class="snip1104 red">
      <img src="../../assets/images/home/organic_medicines.png" alt="sample33" />
      <figcaption>
        <h2> <span> Medicines</span></h2>
      </figcaption>
      <a href="#"></a>
    </figure>
  </div>
  <div data-aos="fade-up" data-aos-mirror="true" data-aos-offset="200" data-aos-delay="300" data-aos-duration="15000"
    data-aos-easing="ease-in">
    <figure class="snip1104 red">
      <img src="../../assets/images/home/organic_fruits.png" alt="sample33" />
      <figcaption>
        <h2> <span> Fruits</span></h2>
      </figcaption>
      <a href="#"></a>
    </figure>
  </div>
  <div data-aos="fade-down" data-aos-mirror="true" data-aos-offset="200" data-aos-delay="500" data-aos-duration="20000"
    data-aos-easing="ease-in">
    <figure class="snip1104"><img src="../../assets/images/home/organic_bodycare.png" alt="sample35" />
      <figcaption>
        <h2><span> Body Care</span></h2>
      </figcaption>
      <a href="#"></a>
    </figure>
  </div>
  <div data-aos="fade-down" data-aos-mirror="true" data-aos-offset="200" data-aos-delay="700" data-aos-duration="25000"
    data-aos-easing="ease-in">
    <figure class="snip1104"><img src="../../assets/images/home/organic_vegetables.png" alt="sample35" />
      <figcaption>
        <h2> <span> Vegetable</span></h2>
      </figcaption>
      <a href="#"></a>
    </figure>
  </div>
</section>



<section class="third-section">
  <div class="container my-4 Foods">
    <h2 class="h2">Organic <b>Foods</b></h2>
    <hr class="my-4">
    <!--Carousel Wrapper-->
    <div id="Organic-Foods-carousel" class="multi-item-example carousel slide carousel-multi-item" data-ride="carousel">
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">

          <div class="row">
            <div class="col-md-3">
              <div class="card mb-2">
                <div class="img-box">
                  <img src="../../assets/images/products/apple.png" class="img-fluid" alt="Headphone">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title">Apple</h4>
                  <p class="card-price">Rs.100/pcs</p>
                  <!-- <div class="card-price-card"> -->
                  <span><a class="btn btn-primary">Add To Cart</a></span>
                  <!-- </div> -->
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <div class="img-box">
                  <img src="../../assets/images/products/banana.png" class="img-fluid" alt="Headphone">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title">Apple</h4>
                  <p class="card-price">Rs.100/pcs</p>
                  <!-- <div class="card-price-card"> -->
                  <span><a class="btn btn-primary">Add To Cart</a></span>
                  <!-- </div> -->
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <div class="img-box">
                  <img src="../../assets/images/products/wheat.png" class="img-fluid" alt="Headphone">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title">Apple</h4>
                  <p class="card-price">Rs.100/pcs</p>
                  <!-- <div class="card-price-card"> -->
                  <span><a class="btn btn-primary">Add To Cart</a></span>
                  <!-- </div> -->
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <div class="img-box">
                  <img src="../../assets/images/products/rice.png" class="img-fluid" alt="Headphone">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title">Apple</h4>
                  <p class="card-price">Rs.100/pcs</p>
                  <!-- <div class="card-price-card"> -->
                  <span><a class="btn btn-primary">Add To Cart</a></span>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.First slide-->
        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-3">
              <div class="card mb-2">
                <div class="img-box">
                  <img src="../../assets/images/products/apple.png" class="img-fluid" alt="Headphone">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title">Apple</h4>
                  <p class="card-price">Rs.100/pcs</p>
                  <!-- <div class="card-price-card"> -->
                  <span><a class="btn btn-primary">Add To Cart</a></span>
                  <!-- </div> -->
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <div class="img-box">
                  <img src="../../assets/images/products/banana.png" class="img-fluid" alt="Headphone">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title">Apple</h4>
                  <p class="card-price">Rs.100/pcs</p>
                  <!-- <div class="card-price-card"> -->
                  <span><a class="btn btn-primary">Add To Cart</a></span>
                  <!-- </div> -->
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <div class="img-box">
                  <img src="../../assets/images/products/wheat.png" class="img-fluid" alt="Headphone">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title">Apple</h4>
                  <p class="card-price">Rs.100/pcs</p>
                  <!-- <div class="card-price-card"> -->
                  <span><a class="btn btn-primary">Add To Cart</a></span>
                  <!-- </div> -->
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <div class="img-box">
                  <img src="../../assets/images/products/rice.png" class="img-fluid" alt="Headphone">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title">Apple</h4>
                  <p class="card-price">Rs.100/pcs</p>
                  <!-- <div class="card-price-card"> -->
                  <span><a class="btn btn-primary">Add To Cart</a></span>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->

      </div>
      <!--/.Slides-->

      <!--Controls-->
      <div class="controls-top">
        <a class="carousel-control-prev" href="#Organic-Foods-carousel" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="carousel-control-next" href="#Organic-Foods-carousel" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->


    </div>
    <!--/.Carousel Wrapper-->


  </div>
</section>


<section class="sixth-section mt-5">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class=" col-md-6 col-sm-12 col-xs-12 product-img" data-aos="zoom-in">
          <img src="../../assets/images/home/animated.png" height="420" width="327">
        </div>
        <div class=" col-md-6 col-sm-12 col-xs-12 product-info">
          <div class="product-text ">
            <h1>Organic Lines</h1>
            <p>“Your diet is a bank account. <br> Good food choices are good investments.” </p>
            <h2>by Bethenny Frankel</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="parallex-section-second">
</section>


<section class="fifth-section container-fluid">
  <div class="container my-4 Medicines">
    <h2 class="h2">Organic <b>Medicines</b></h2>
    <hr class="my-4">
    <!--Carousel Wrapper-->
    <div id="Organic-Medicines-carousel" class="multi-item-example carousel slide carousel-multi-item" data-ride="carousel">
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">

          <div class="row">
            <div class="col-md-3">
              <div class="card mb-2">
                <div class="img-box">
                  <img src="../../assets/images/products/apple.png" class="img-fluid" alt="Headphone">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title">Apple</h4>
                  <p class="card-price">Rs.100/pcs</p>
                  <!-- <div class="card-price-card"> -->
                  <span><a class="btn btn-primary">Add To Cart</a></span>
                  <!-- </div> -->
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <div class="img-box">
                  <img src="../../assets/images/products/banana.png" class="img-fluid" alt="Headphone">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title">Apple</h4>
                  <p class="card-price">Rs.100/pcs</p>
                  <!-- <div class="card-price-card"> -->
                  <span><a class="btn btn-primary">Add To Cart</a></span>
                  <!-- </div> -->
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <div class="img-box">
                  <img src="../../assets/images/products/rice.png" class="img-fluid" alt="Headphone">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title">Apple</h4>
                  <p class="card-price">Rs.100/pcs</p>
                  <!-- <div class="card-price-card"> -->
                  <span><a class="btn btn-primary">Add To Cart</a></span>
                  <!-- </div> -->
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <div class="img-box">
                  <img src="../../assets/images/products/wheat.png" class="img-fluid" alt="Headphone">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title">Apple</h4>
                  <p class="card-price">Rs.100/pcs</p>
                  <!-- <div class="card-price-card"> -->
                  <span><a class="btn btn-primary">Add To Cart</a></span>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.First slide-->
        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-3">
              <div class="card mb-2">
                <div class="img-box">
                  <img src="../../assets/images/products/apple.png" class="img-fluid" alt="Headphone">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title">Apple</h4>
                  <p class="card-price">Rs.100/pcs</p>
                  <!-- <div class="card-price-card"> -->
                  <span><a class="btn btn-primary">Add To Cart</a></span>
                  <!-- </div> -->
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <div class="img-box">
                  <img src="../../assets/images/products/banana.png" class="img-fluid" alt="Headphone">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title">Apple</h4>
                  <p class="card-price">Rs.100/pcs</p>
                  <!-- <div class="card-price-card"> -->
                  <span><a class="btn btn-primary">Add To Cart</a></span>
                  <!-- </div> -->
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <div class="img-box">
                  <img src="../../assets/images/products/wheat.png" class="img-fluid" alt="Headphone">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title">Apple</h4>
                  <p class="card-price">Rs.100/pcs</p>
                  <!-- <div class="card-price-card"> -->
                  <span><a class="btn btn-primary">Add To Cart</a></span>
                  <!-- </div> -->
                </div>
              </div>
            </div>

            <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <div class="img-box">
                  <img src="../../assets/images/products/rice.png" class="img-fluid" alt="Headphone">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title">Apple</h4>
                  <p class="card-price">Rs.100/pcs</p>
                  <!-- <div class="card-price-card"> -->
                  <span><a class="btn btn-primary">Add To Cart</a></span>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->

      </div>
      <!--/.Slides-->

      <!--Controls-->
      <div class="controls-top">
        <a class="carousel-control-prev" href="#Organic-Medicines-carousel" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="carousel-control-next" href="#Organic-Medicines-carousel" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->


    </div>
    <!--/.Carousel Wrapper-->


  </div>
</section>
